body {
	font-family: "Segoe UI","Arial",sans-serif;
}
#content {
	width: 800px;
	margin-right: auto;
	margin-left: auto;
}
div.section {
	font-size: 18px;
}
ol.ol-spaced li {
  margin-top: 5px;
}
table.d2b-table {
  margin-top: 5px;
  width: 200px;
}
table.d2b-table td {
  text-align: right;
}
table.cellsweeper-table td {
  padding: 0.3em;
  width: 2em;
  height: 2em;
  text-align: right;
  cursor: pointer;
}
table.cellsweeper-table td:hover {
  background-color: yellow;
}
span.reset-span {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}
.heading {
  font-size: 48px;
  font-weight: bold;
  color: #888888;
}
img.logo-image {
  width: 48px;
  width: 48px;
  margin-right: 15px;
}
